body
{
  background-color: #E6E6E6;
  background: url(resources/pattern-01.png);
  background-repeat: repeat, no-repeat;
  background-blend-mode: multiply, normal;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
  font-size: 12pt;
  line-height: 1.5em;
  overflow: hidden;
}

* { margin: 0; }

#login
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;

    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.6);
    color: #666;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    margin-bottom: 4px;
    min-height: 40px;
    //position:fixed;
    
    -webkit-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.28);
    box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.28);
    
}
#login.hidden
{
    position: fixed;
    margin-top: -45px;
}
#login.hidden-peek
{
    position: fixed;
}
#login span.logo
{
    vertical-align: super;
    margin: 2px;
    font-size: 28px;
    font-family: 'Sansita One',cursive,Arial,sans-serif;
    font-weight: 200;
    color: #666;
}
#login span.slogan
{
    vertical-align: super;
    margin: 2px;
    font-size: 1.1em;
    line-height: 2.5em;
    font-family: Quicksand,Arial,sans-serif;
    color: #666;
}
#login .float
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#login .float-right
{
    float:right;
    margin-right: .5em;
    margin-top: .40em;
}
#login .float-left
{
    float:left;
    margin-right: .5em;
}
#login label { color: #ffffff; text-shadow: 1px 1px 0px rgba(175, 210, 220, 0.8); }
#login input
{
    padding: 5px;
    background-color: #fAfAfA;
    border: 1px inset #999999;
    outline: none;
    -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#login input#host { width: 200px; }
#login input#port { width: 75px; }
#login input#password { width: 100px; }
#login button
{
    padding: 5px 10px 5px 10px;
    margin-top: 3px;
    margin-left: 5px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: #666;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
#login button:hover
{
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 1);
}
#login button#close
{
    background-position: 50% 50%;
    background-size: 50%;
    background-image:url(resources/button-close.png);
    background-repeat: no-repeat;
}
#login button#close:hover
{
    background-image:url(resources/button-close-highlight.png);
}

#login img
{
    margin-top: 5px;
    margin-left: 30px;
    width: 32px;
    height: 32px;
    opacity: .7;
}

#overlay {
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.8;
    text-align: center;
    z-index: 2;
}

.overlay-dialog {
    visibility: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 600px;
    margin: 300px auto;
    background-color: #fff;
    padding: 0px;
    z-index: 3;
}

.overlay-text {
    font-size: 10pt;
    font-family: 'arial';
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.overlay-text-end {
    font-size: 10pt;
    font-family: 'arial';
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.overlay-input {
    background-color: #ddd;
    border-top: 1px solid #bbb;
    padding: 10px;
    height: 25px;
}

.overlay-input .float-right {
    margin-right: 10px;
    float: right;
}

#extwin {
    visibility: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 600px;
    height: 600px;
    margin: 100px auto;
    background-color: #fff;
    padding: 0px;
    z-index: 3;
}

#extwin-title {
    //background-color: rgba(0, 161, 193, 0.9);
    background-color: rgba(0, 161, 193, 0.9);
    width: 100%;
    height: 30px;
}

#extwin button#extwin-close
{
    padding: 5px 10px 5px 10px;
    margin-top: 3px;
    margin-left: 5px;
    padding: 3px 10px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.8);
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    background-position: 50% 50%;
    background-size: 50%;
    background-image:url(resources/button-close.png);
    background-repeat: no-repeat;
    float:right;
    margin-right: .5em;
    margin-top: .25em;
}

#extwin button#extwin-close:hover {
    background-image:url(resources/button-close-highlight.png);
}

#extwin iframe {
    width: 100%;
    height: 100%;
    border: none;
}
/*Logo Animation*/
.load .text-center {
  overflow: hidden;
}
.logo-animation {
  margin-top: 25%;
  margin-left: 40%;
  width: 270px;
}
#logo-svg-viubo {
  animation-name: load;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
}
#logo-svg-viubo {
  overflow: visible !important;
  animation-name: load-rotation;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  transform-origin: 50% 40%;
}
svg#logo-viubo-1:not(:root),
svg#logo-viubo-2:not(:root) {
  overflow: visible;
}
#logo-viubo-1,
#logo-viubo-2 {
  fill: #10afc4;
  animation-name: load-one;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
}
#logo-viubo-2 {
  animation-name: load;
}
@keyframes load-rotation {
  0% {
    /* IE 9 */
    /* Safari */
    transform: rotate(0deg);
  }
  25% {
    /* IE 9 */
    /* Safari */
    transform: rotate(0deg);
  }
  50% {
    /* IE 9 */
    /* Safari */
    transform: rotate(0deg);
  }
  75% {
    /* IE 9 */
    /* Safari */
    transform: rotate(360deg);
  }
  100% {
    /* IE 9 */
    /* Safari */
    transform: rotate(360deg);
  }
}
@keyframes load {
  0% {
    fill: #10afc4;
    /* IE 9 */
    /* Safari */
    transform: translate(1500px, -1200px);
  }
  25% {
    fill: #ffd64f;
    transform-origin: 50% 50%;
    /* IE 9 */
    /* Safari */
    transform: translate(0px, 0px);
  }
  50% {
    fill: #ffd64f;
    transform-origin: 50% 50%;
    /* IE 9 */
    /* Safari */
    transform: translate(0px, 0px);
  }
  75% {
    fill: #ffd64f;
    transform-origin: 50% 50%;
    /* IE 9 */
    /* Safari */
    transform: translate(0px, 0px);
  }
  100% {
    fill: #10afc4;
    /* IE 9 */
    /* Safari */
    transform: translate(0px, 0px);
  }
}
@keyframes load-one {
  0% {
    fill: #10afc4;
    /* IE 9 */
    /* Safari */
    transform: translate(-1500px, -1200px);
  }
  25% {
    fill: #ffd64f;
    transform-origin: 50% 50%;
    /* IE 9 */
    /* Safari */
    transform: translate(0px, 0px);
  }
  50% {
    fill: #ffd64f;
    transform-origin: 50% 50%;
    /* IE 9 */
    /* Safari */
    transform: translate(0px, 0px);
  }
  75% {
    fill: #ffd64f;
    transform-origin: 50% 50%;
    /* IE 9 */
    /* Safari */
    transform: translate(0px, 0px);
  }
  100% {
    fill: #10afc4;
    /* IE 9 */
    /* Safari */
    transform: translate(0px, 0px);
  }
}

